.MainTitle {
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    background-color: hsla(180, 50%, 50%, 0.1);

    a {
        text-decoration: none;
        color: inherit;
    }

    h1 {
        margin: 0.5rem;
        color: hsla(180, 45%, 40%, 1);
        transition: color 0.3s ease-in-out;
    }

    h1:hover {
        color: hsla(180, 45%, 65%, 1);
    }

    button {
        margin: 0.5rem;
        height: 2rem;
        width: 5rem;

        background-color: hsla(180, 50%, 35%, 0.7);
        color: rgb(205, 229, 229);

        font-weight: 500;
        font-size: 1.2rem;

        transition: all 0.3s ease-in-out;

        border-top: 2px solid  hsla(180, 49%, 36%, 0.6);
        border-left: 2px solid  hsla(180, 49%, 36%, 0.6);
        border-right: 2px solid  hsla(180, 49%, 10%, 0.8);
        border-bottom: 2px solid  hsla(180, 49%, 10%, 0.8);
    }

    button:hover {
        background-color: rgb(205, 229, 229);
        color: hsla(180, 50%, 35%, 0.7);

        font-weight: 600;
    }

}


