@import url(./variables.css);

.DataContainer {
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.4rem;

    width: 60%;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--primary-darkest);
    box-shadow: 0px 2px 1px 2px var(--primary);

    margin: 1rem 0;

    hr {
        height: 1px;
        width: 100%;
        background-color: var(--primary);
        border: none;
    }

    h1, h2, h3, h4 {
        margin: 0;
    }

    h1, h2, h3 {
        color: var(--text-light);
    }

    h1, h2 {
        justify-content: center;
        align-items: center;

        font-size: 2rem;
    }

    h2 {
        margin: 0;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }


    .MainInput {
        background-color: var(--primary);
        transition: all 0.2s ease-in-out;
    }

    table {
        width: 80%;
        
        text-align: center;
        border-collapse: collapse;

        background-color: var(--slight-hover);

        th {
            padding: 0.5rem;
        }

        th {
            font-size: 1.2rem;
            color:var(--text-light);
        }
        
        td {
            font-size: 1.1rem;
            height: 2rem;

            padding: 0.1rem;

            color:var(--primary);
            border: 1px solid var(--primary);

            vertical-align: middle;
            text-align: center;

            justify-content: center;
            align-items: center;

            img {
                    cursor: pointer; 
                    width: 1.6rem;
                    height: 1.6rem;
                    transition: transform 0.1s ease-in-out;   
                    object-fit: cover;            
                }
            &:hover {
                img {
                    transform: scale(1.25);
                }  
            }
        }

        input.TableInput {
            text-align: center;
            font-weight: 500;

            width: 100%;
            height: 100%;
            
            font-size: 1rem;

            margin: 0;
            padding: 0;

            border: none;

            background-color: var(--primary);
            color: var(--text-dark);

            /* Chrome, Safari, Edge, Opera */
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            -moz-appearance: textfield;
            appearance: none;




            &:active, &:focus, &:hover {
                background-color: var(--primary-darkest);
                color: var(--text-light-hover);
            }
        }
    }
}


.TitleInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1.4rem;


    margin: 1rem;
    width: 80%;

    input {
        height: 100%;
        width: 80%;
        margin-left: 0.5rem;
        font-size: 1.2rem;

        color: var(--text-dark);

        &:focus {
            background-color: var(--primary-darkest);
            color: var(--primary);
        }
    }
}

.TitleParagraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  textarea {
    padding: 0.5rem;
    border-radius: 10px;
    width: 80%;
    height: 6rem; 
    word-break: break-word; 
    resize: none; 

    &:focus {
        background-color: var(--primary-darkest);
        color: var(--primary);
    }
  }
}

.DeleteButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.StatusButton {
    width: 50%;
    height: 2rem;
    text-align: center;

    font-size: 1rem;

    border-top: 2px solid var(--primary-darkest);
    border-left: 2px solid var(--primary-darkest);
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);

    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-top: 2px solid var(--primary);
        border-left: 2px solid var(--primary);
        border-right: 2px solid var(--primary-darkest);
        border-bottom: 2px solid var(--primary-darkest);
    }
}


.Green {
    background-color: hsla(131, 100%, 50%, 0.5);
}
.Orange {
    background-color: hsla(44, 100%, 50%, 0.650);
}
.Red {
    background-color: hsla(0, 100%, 50%, 0.60);
}
.Grey {
    background-color: hsla(0, 2%, 70%, 0.60);
}

