@import url(./variables.css);

.PreviewInterventoContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0px 4px 0px 1px var(--primary-lightest);

    background-color: hsla(180, 50%, 35%, 0);

    padding: 1rem;

    transition: all 0.1s ease-in-out;

    h1 {
        font-size: 2rem;
        margin: 0.2rem 0;
        color: var(--text-light);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }

    h2 {
        font-size: 1.2rem;
        margin: 0.2rem 0;
        color: var(--primary);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }

    h3 {
        font-weight: 600;
        margin: 0 0.2rem;
        padding: 0.2rem;

        border-radius: 5px;

        width: 100%;

        text-align: center;

        color: var(--text-dark);

    }

    p {

        font-weight: 500;
        font-size: 1rem;

        margin: 0.5rem 0;
        padding: 0.2rem;

        word-break: keep-all;
        
        width: 100%;
        
        text-align: center;

        background-color: var(--primary);
        color: var(--text-dark);

        border-radius: 5px;
    }
}

.PreviewInterventoContainer:hover {
    position: relative;
    top: 3px;
    box-shadow: 0px 1px 0px 1px var(--primary);
}