@import url(./variables.css);

.Link {
    margin: 1rem;
    max-width: 30% !important;
}

.MainContainer {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--primary-darkest);

    max-width: 100%;

    justify-content: center;
    align-items: center;

    gap: 0rem;

    border-radius: 10px;

    padding: 1rem;

    transition: all 0.2s ease-in-out;

    background-color: transparent;

    &:hover {
        background-color: var(--slight-hover);

        img {
            scale: 1.2;
            animation: addFastRotation 1s linear infinite;
        };
    
    }

    h2 {
        text-align: center;
        color: var(--primary-darkest);
        margin: 0.5rem 0;

        transition: color 0.2s ease-in-out;
    }

    img {
        height: 3rem;
        transition: all 0.3s ease-in-out;

        animation: addNormalRotation 1s linear infinite;
        rotate: var(--angle);
    }

}

@property --angle {
    syntax: '<angle>';
    /* Indica che la proprietà non viene ereditata dagli elementi figli */
    inherits: false;
    /* Valore iniziale della proprietà personalizzata */
    initial-value: 0deg;
}


@keyframes addNormalRotation {
    0% {
        --angle: 0deg;
    }
    25% {
        --angle: 7deg;
    }
    50% {
        --angle: 0deg;
    }
    75% {
        --angle: -7deg
    }
    100% {
        --angle: 0deg
    }
}

@keyframes addFastRotation {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg
    }
}

@media (max-width : 850px) {
    .Link {
        width: 80%;
        max-width: 100% !important;
    }
}